@import "./src/styles/const.scss";

.counter {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 100vh;
  background: url("../../styles/bg/after/5.jpg") no-repeat center;
  // background-position: 100% 100%;
  background-size: contain;
  &__title {
    position: absolute;
    top: -15%;
    font-size: 50px;
    color: rgb(233, 229, 229);
    text-align: center;
  }

  .flip-clock-wrapper {
    .title {
      display: none;
    }
  }

  #clock {
    width: auto !important;
    zoom: 110%;
    -moz-transform: scale(0.5);

    // Цвет таймера
    .inn {
      background-color: $global-color-button;
    }
  }
}

/** Цвет карточек таймера */
/** Цвет шрифта таймера */
@media (orientation: portrait) {
  .counter {
    // background-position: 50% 100%;
    align-items: center;
    width: 100%;
    height: 100vh;
    .flip-clock-wrapper ul li a div div.inn {
      font-size: 50% !important;
    }

    &__title {
      top: 15%;
      font-size: 40px;
      font-weight: bold;
    }
    #clock {
      zoom: 45%;
      -moz-transform: scale(0.5);
    }
  }
}
